<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Pazir</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>pazir</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key> 
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb1498794451942542</string>  
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>1498794451942542</string>
        <key>FacebookClientToken</key>
        <string>2d0b581775c7f1bec20a103847b0b28a</string>
        <key>FacebookDisplayName</key>
        <string>Chict</string>
        <key>FacebookAutoLogAppEventsEnabled</key>
        <true/>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UNUserNotificationCenter</key>
		<dict>
			<key>UNAuthorizationOptions</key>
			<array>
				<string>alert</string>
			</array>
		</dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
		  <string>squarecash</string>
                <string>cashme</string>
                <string>upi</string>
                <string>phonepe</string>
                <string>paytmmp</string>
                <string>gpay</string>
                <string>com.amazon.mobile.shopping</string>
                <string>mobikwik</string>
                <string>freecharge</string>
			<string>whatsapp</string>
			<string>instagram</string>
			<string>fb</string>
			<string>tiktok</string>
			<string>comgooglemaps</string>
			<string>tweetie</string>
			<string>wechat</string>
			<string>alipay</string>
			<string>mqq</string>
		</array>
<key>NSCameraUsageDescription</key>
<string>This app requires access to your camera to allow you to shoot photos and videos for creation and sharing.</string>

<key>NSMicrophoneUsageDescription</key>
<string>This app requires access to your microphone to record audio for features such as voice chat and video recording.</string>

<key>NSPhotoLibraryUsageDescription</key>
<string>This app requires access to your photo library so you can select and upload photos or videos from your device.</string>
<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
